* {
    font-family: Circular,
      -apple-system,
      "system-ui",
      Roboto,
      "Helvetica Neue",
      sans-serif;
  }

  .middle_container {
    /* padding: 2%; */
    /* background-color: brown; */
    margin-left: 50px;
    margin-right: 50px;
  }

  .DisplayTotalPriceContainer {
    /* background-color: rebeccapurple; */
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: center;
  }

  .DisplayTotalPrice {
    width: 50%;
    height: 60px;
    border: 1.5px solid grey;
    /* background-color: green; */
    border-radius: 12px;
    border-color: #DDDDDD;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
  }

  .DisplayTotalPriceLeftSide {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    width: 60%;
    margin-left: 2%;
  }

  .DisplayTotalPriceText {
    font-weight: bold;
  }

  .DisplayTotalPriceLine {
    border-right: 1px solid;
    height: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .DisplayTotalPricerightSide {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: aqua; */
    width: 36%;
    margin-right: 2%;
  }

  .all-spots-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    width: 100%;
    /* gap: 20px; */
    /* grid-column-gap: 10px; */
    grid-row-gap: 40px;
    margin-top: 20px;
    /* background-color: red; */


  }

  .spot-div-2345 {
    height: 100%;
    width: 100%;
  }

  .spot-link {
    text-decoration: none;
    color: black;
    height: 50%;
    width: 100%;
    /* background-color: brown; */
  }



  .spot-div {
    /* background-color: blue; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .img-div {
    height: 290px;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */

  }

  .spot-img {
    /* float: left; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

  }


  .spot-info {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(48, 255, 255); */
    width: 90%;

  }

  .spot-info-name {
    margin-left: 5%;
    font-weight: bold;
    margin-top: 2%;


  }

  .spot-city-state {
    /* font-weight: bold; */
    color: gray;
    margin-left: 5%;
    margin-top: 2%;
    /* margin-bottom: -10px; */
    /* margin-left: 5px; */
  }

  .spot-beds {
    margin-top: 2%;
    margin-left: 5%;
    color: gray;

  }

  .spot-price {
    margin-top: 2%;
    margin-left: 5%;
    font-weight: 500;

  }


  /* @media screen and (max-width: 990px) {
    .all-spots-div {
      display: grid;
      grid-template-columns: 1fr;
    }

    .img-div {
      height: 460px;
      width: 500px;
    }

    .spot-div {
      height: 590px;
      width: 560px;
    }
  }

  @media screen and (min-width: 991px) and (max-width: 1300px) {
    .all-spots-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .img-div {
      height: 400px;
      width: 460px;
    }

    .spot-div {
      height: 490px;
      width: 430px;
    }
  }

  @media screen and (min-width: 1301px) and (max-width: 1700px) {
    .all-spots-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .img-div {
      height: 370px;
      width: 430px;
    }

    .spot-div {
      height: 490px;
      width: 410px;
    }
  }

  @media screen and (min-width: 1701px) {
    .all-spots-div {
      margin: 40px 80px;
    }
  } */
