#bmodalContainer {
  /* background-color: red; */
  background-color: white;
  position: absolute;
  top: 105vh;
  right: 0;
  bottom: 0;
  left: 95.5vh;
  width: 720px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);

}

.bmodalContent {
  /* background-color: blue; */
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


.bmodalTop {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  height: 20%;
}

.bmodalTopLeft {
  /* background-color: aquamarine; */
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bmodalNumberofNights {
  /* background-color: antiquewhite; */
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 10px;
}

.bmodalDatesRange {
  color: gray;
}

.bmodalTopRight {
  width: 55%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.bModalInnOutBar {
  display: flex;
  flex: row;
  width: 340.14px;
  height: 58.8px;
  /* background-color: yellow; */
  border: 1px solid rgb(190, 190, 190);
  border-radius: 12px;
  margin-top: 4px;

}

.bmodalCheckinContainer {
  /* background-color: aquamarine; */
  width: 50%;
  font-size: small;
  padding: 5px;
  border-right: 1px solid rgb(221, 221, 221);
}


.bmodalCheckoutContainer {
  /* background-color: aquamarine; */
  width: 50%;
  font-size: small;
  padding: 5px;

}


.bmodalMainCalendarContainer {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  height: 65%;
  width: 100%;
}

.red .rmdp-week-day {
  color: gray;
}

.red .rmdp-header-values {
  font-size: large;
  font-weight: 500;
}

.red .rmdp-day {
  height: 43px;
  width: 45px;
  font-weight: 600;
}

.red .rmdp-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
}

.rmdp-shadow {
  box-shadow: none;
}

.red .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: black !important;
}

.red .rmdp-day.rmdp-today span {
  background-color: #000000;
}

.bmodalBottom {
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  height: 15%;
  align-items: center;
}


.bmodalBottomLeft {
  /* background-color: rgb(192, 122, 16); */
  width: 50%;
}

.bmodalBottomRight {
  width: 50%;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-left: 40%;
}


.bmodalClearDates {
  /* background-color: darkgreen; */
  margin-right: 20px;
  border: none;
  text-decoration: underline;
  font-size: medium;
  font-weight: 500;
  background-color: white;
  /* width: 50%; */

}

.bmodalCloseButton {
  color: white;
  font-size: medium;
  font-weight: 500;
  background-color: black;
  border: 1px solid black;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
