.reviews-root-div {
    margin-left: 15%;
    margin-right: 18%;
    /* margin-top: 4.5%; */
    /* background-color: brown; */
}

.ReviewTitle {
    display: flex;
    flex-direction: row;
    /* margin-top: 1%; */
    /* background-color: aqua; */
}

.ReviewTitleAVG {
    font-size: xx-large;
}

.ReviewTitleNumReviews {
    font-size: xx-large;
}

.ReviewTitleSVG {
    margin-top: 1.1%;
}

.ReviewTitleSpace-span {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
}

.ReviewTitleRightOfSVG {
    display: flex;
    flex-direction: row;
    margin-left: .5%;
    font-weight: 500;
}

.all-reviews-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* grid-template-rows: 1fr 1fr; */
    /* align-items: center; */
    /* justify-content: space-around; */
    /* background-color: rgb(127, 131, 255); */
    height: auto;
}

.reviews-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    /* background-color: brown; */

}

.full-user-review {
    height: 100%;
    /* background-color: brown; */
    border-radius: 40px;;
    /* border: gray solid; */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 10em;
    margin-top: 7%;
}


.owner-options-title {
    display: flex;
    margin-left: 15px;
}


.fullNameReview {
    margin-left: 5%;
    font-weight: 500;
    font-size: larger;
}

.UserReviewTopLine {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.ReviewStarNum {
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    margin-left: 5%;
}

.ReviewTitleSVG12 {
    margin-top: 45%;
}

.ReviewCreatedAt {
    margin-left: 5%;
}

.userReview {
    margin-left: 5%;
    font-size: larger;
    font-weight: 500;

}

.actual-review {
    margin-left: 5%;
    margin-top: 3%;
}

.review-button-div {
    display: flex;
    flex-direction: row-reverse;
    /* margin-top: 20%; */
    margin-bottom: -5.5%;

}

.mini-review-top-bar {
    margin-top: 2%;
}


.removeSpotButton {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.editSpotButton {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.reviewButton {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 71.6%;
}

.reviewButton:hover {
    background-color: rgba(155, 154, 154, 0.555);
}
