
/* .main-div {
    /* border-bottom: .5px solid #D3D3D3; */
/* } */

/* .spot-title {

} */

.detailName {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImage {
    /* float: left; */
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 33px;
    margin: auto;
    display: flex;
    position:static;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}


.spotDetails {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
}

.top-info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.space-span {
    font-size: large;
    font-weight: bolder;
    margin: 0px 6px 0px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
